.fifthsection {
  //height: 100%; ( after work then comment for responsive design )
    width: 100%;


    background-image: url('../images/background3.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
}